.filtre_vert{
  background-color: #008000;
}

.menu_top{
  display: flex;
  justify-content: end;
  h4{
    color: #fff;
  }
}

.logo_head{
  display: flex;
  justify-content: center;
}

.subtitle{
  color: #fff;
  display: flex;
  justify-content: center;
}

img{
  width: 100%;
}
